.app-wrapper {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  width: 1200px;
  

  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 60px 1fr ;
  grid-template-columns:2fr 10fr;
  /* grid-gap: 10px; */
}

.app-wrapper-content {
    grid-area: c;
    background: rgb(158, 158, 255);
}

